<!DOCTYPE html>
<html lang="es">
<head>
	{% include 'base.html' %}
</head>
<body>
	<!-- pageContent -->
	<section class="full-width pageContent">
		<!-- navBar -->
		<div class="full-width navBar">
			<div class="full-width navBar-options">
				<i class="zmdi zmdi-swap btn-menu" id="btn-menu"></i>	
				<div class="mdl-tooltip" for="btn-menu">Ocultar / Mostrar MENU</div>
				<nav class="navBar-options-list">
					<ul class="list-unstyle">
						<li class="btn-Notification" id="notifications">
							<i class="zmdi zmdi-notifications"></i>
							<div class="mdl-tooltip" for="notifications">Notificaciones</div>
						</li>
						<li class="btn-exit" id="btn-exit">
							<i class="zmdi zmdi-power"></i>
							<div class="mdl-tooltip" for="btn-exit">Cerrar Sesión</div>
						</li>
						<li class="text-condensedLight noLink" ><small>Usuario</small></li>
						<li class="noLink">
							<figure>
								<img src="/static/assets/img/avatar1.png" alt="Avatar" class="img-responsive">
							</figure>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	<!-- pageContent -->
	<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-account"></i>
			</div>
			<div class="full-width header-well-text">
				<p class="text-condensedLight">
					Ingrese los datos solicitados para agregar un Administrator
				</p>
			</div>
		</section>
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__tab-bar">
				<a href="#tabNewAdmin" class="mdl-tabs__tab is-active">REGISTRA ADMINISTRADOR</a>
				<a href="#tabListAdmin" class="mdl-tabs__tab">LISTA ADMINISTRADORES</a>
			</div>
			<div class="mdl-tabs__panel is-active" id="tabNewAdmin">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-primary text-center tittles">
								Nuevo Administrador
							</div>
							<div class="full-width panel-content">
								<form action="/guardar_administrador" method="POST">
									<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--12-col">
									<legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; DATOS ADMINISTRADOR</legend><br>
									</div>
									<div class="mdl-cell mdl-cell--12-col">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="DNIAdmin" name="DNIAdmin">
												<label class="mdl-textfield__label" for="DNIAdmin">Documento</label>
												<span class="mdl-textfield__error">Documento Inválido</span>
											</div>
									</div>
									<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameAdmin" name="NameAdmin">
												<label class="mdl-textfield__label" for="NameAdmin">Nombre</label>
												<span class="mdl-textfield__error">Nombre Inválido</span>
											</div>
									</div>
									
										<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="tel" pattern="-?[0-9+()- ]*(\.[0-9]+)?" id="phoneAdmin" name="phoneAdmin">
												<label class="mdl-textfield__label" for="phoneAdmin">Teléfono</label>
												<span class="mdl-textfield__error">Teléfono Inválido</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="email" id="emailAdmin" name="emailAdmin">
												<label class="mdl-textfield__label" for="emailAdmin">Correo Electrónico</label>
												<span class="mdl-textfield__error">Correo Electrónico Inválido</span>
											</div>
										</div>
										
									<div class="mdl-cell mdl-cell--12-col">
									<legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; CREDENCIALES</legend><br>
									</div>
										<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ]*(\.[0-9]+)?" id="UserNameAdmin" name="UserNameAdmin">
												<label class="mdl-textfield__label" for="UserNameAdmin">Usuario</label>
												<span class="mdl-textfield__error">Usuario Inválido</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="password" id="passwordAdmin" name="passwordAdmin"  >
												<label class="mdl-textfield__label" for="passwordAdmin">Contraseña</label>
												<span class="mdl-textfield__error">Contraseña Inválida</span>
											</div>
										</div>
									<div class="mdl-cell mdl-cell--12-col">
									<legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; CAMBIAR AVATAR</legend><br>
									</div>
										<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
											<div class="mdl-grid">
												<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
													<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
														<input type="radio" id="option-1" class="mdl-radio__button" name="options" value="avatar5.png" >
														<img src="/static/assets/img/avatar5.png" alt="avatar" style="height: 75px"; width="75px;" ">
														<span class="mdl-radio__label">Avatar 1</span>
													</label>
										</div>
										<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
													<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
														<input type="radio" id="option-2" class="mdl-radio__button" name="options" value="avatar4.png">
														<img src="/static/assets/img/avatar4.png" alt="avatar" style="height: 75px"; width="75px;" ">
														<span class="mdl-radio__label">Avatar 2</span>
													</label>
										</div>
											<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
													<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
														<input type="radio" id="option-3" class="mdl-radio__button" name="options" value="avatar2.png">
														<img src="/static/assets/img/avatar2.png" alt="avatar" style="height: 75px"; width="75px;" ">
														<span class="mdl-radio__label">Avatar 3</span>
													</label>
											</div>
											<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
													<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
														<input type="radio" id="option-4" class="mdl-radio__button" name="options" value="avatar3.png">
														<img src="/static/assets/img/avatar3.png" alt="avatar" style="height: 75px"; width="75px;" ">
														<span class="mdl-radio__label">Avatar 4</span>
													</label>
											</div>
											<input type="hidden" id="avatarSelection" name="avatarAdmin" value="">
											</div>
										</div>
									</div>
									<p class="text-center">
										<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addAdmin">
											<i class="zmdi zmdi-plus"></i>
										</button>
										<div class="mdl-tooltip" for="btn-addAdmin">GUARDAR</div>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mdl-tabs__panel" id="tabListAdmin">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-success text-center tittles">
								Lista Administradores
							</div>
							<div class="full-width panel-content">
								<div class="full-width panel-content">
									<form action="#">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
											<label class="mdl-button mdl-js-button mdl-button--icon" for="searchAdmin">
												<i class="zmdi zmdi-search"></i>
											</label>
												<div class="mdl-textfield__expandable-holder">
													<select id="searchType" class="mdl-textfield__input">
													<div id="searchResults"></div>
													<option value="nombre">Nombre</option>
													<option value="nombre">Documento</option>
													</select>
													<div class="mdl-textfield__expandable-holder">
														<input type="text" id="searchInput" class="mdl-textfield__input" placeholder="Buscar..." oninput="searchAdmin()">
														<button type="button" onclick="searchAdmin()">Buscar</button>
														<button type="button" onclick="showAllAdmin()">Ver todos los registros</button>
													</div>
												</div>
											</form>
										</div>
								<div id="adminList" class="mdl-list">
									{% if administradores %}
										{% for i in range(administradores|length) %}
											<div class="mdl-list__item mdl-list__item--two-line">
												<span class="mdl-list__item-primary-content">
													<i class="zmdi zmdi-account mdl-list__item-avatar"></i>
													<span>{{ loop.index + 1 }}. {{ administradores[i][1] }}</span>
													<span class="mdl-list__item-sub-title">Documento: {{ administradores[i][0] }}</span>
													<span class="mdl-list__item-sub-title">Teléfono: {{ administradores[i][2] }}</span>
													<span class="mdl-list__item-sub-title">Correo: {{ administradores[i][3] }}</span>
													<span class="mdl-list__item-sub-title">Avatar: {{ administradores[i][4] }}</span>
												</span>
												<a class="mdl-list__item-secondary-action" href="#!" onclick="toggleOptions(this, {{ i }})">
													<i class="zmdi zmdi-more"></i>
												</a>
												<!-- Contenedor para las opciones de editar y eliminar -->
												<div class="options-container" style="display: none;">
													<a href="{{ url_for('editar_administrador', docadmin=administradores[i][0]) }}">Editar</a>
													<a href="{{ url_for('eliminar_administrador', docadmin=administradores[i][0]) }}">Eliminar</a>
												</div>
											</div>
										{% endfor %}
									{% else %}
										<p>No hay administradores disponibles.</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</section>
	<!-- Modal genérico para mensajes -->
	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display:none">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="messageModalLabel">Mensaje</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="modalMessageContent"></p>
				</div>
			</div>
		</div>
	</div>
	</section>
	<script>
		// Mostrar el modal con el mensaje correspondiente
		$(document).ready(function() {
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			$('#messageModal').modal('show');
			$('#messageModalLabel').text("{{ category | capitalize }}");
			$('#modalMessageContent').text("{{ message }}");
			{% endfor %}
			{% endif %}
			{% endwith %}
		});
	</script>
	<script>
		document.getElementById('btn-addAdmin').addEventListener('click', function() {
			var selectedAvatar = document.querySelector('input[name="options"]:checked').value;
			document.getElementById('avatarSelection').value = selectedAvatar;
		});
	</script>
	<script>
		function toggleOptions(element, index) {
			var optionsContainer = element.parentNode.querySelector('.options-container');
			optionsContainer.style.display = 'block';
		}
	</script>
	<script>
			function searchAdmin() {
				const searchInput = document.getElementById('searchInput').value.trim().toLowerCase();
				const adminList = document.getElementById('adminList');
				const administradores = adminList.getElementsByClassName('mdl-list__item'); // Obtener todas las categorías
			  
				for (let admin of administradores) {
					const adminName = admin.querySelector('.mdl-list__item-primary-content span').textContent.toLowerCase();
					const adminDocument = admin.querySelector('.mdl-list__item-sub-title').textContent.toLowerCase(); // Corregir el nombre de la variable
			  
					if (adminName.includes(searchInput) || adminDocument.includes(searchInput)) {
						admin.style.display = ''; // Mostrar la categoría si coincide con el término de búsqueda
					} else {
						admin.style.display = 'none'; // Ocultar la categoría si no coincide con el término de búsqueda
					}
				}
			}
		
			// Función para mostrar todas las categorías
			function showAllAdmin() {
				const adminList = document.getElementById('adminList');
				const administradores = adminList.getElementsByClassName('mdl-list__item'); // Obtener todas las categorías
		
				for (let admin of administradores) {
					admin.style.display = ''; // Mostrar todas las categorías
				}
			}
		</script>
	
</body>
</html>