<!DOCTYPE html>
<html lang="es">
<head>
	{% include 'base.html' %}
</head>
<body>
	<!-- pageContent -->
<section class="full-width pageContent">
    <!-- navBar -->
    <div class="full-width navBar">
        <div class="full-width navBar-options">
            <i class="zmdi zmdi-swap btn-menu" id="btn-menu"></i>    
            <div class="mdl-tooltip" for="btn-menu">Ocultar / Mostrar MENU</div>
            <nav class="navBar-options-list">
                <ul class="list-unstyle">
                    <li class="btn-Notification" id="notifications">
                        <i class="zmdi zmdi-notifications"></i>
                        <div class="mdl-tooltip" for="notifications">Notificaciones</div>
                    </li>
                    <li class="btn-exit" id="btn-exit">
                        <i class="zmdi zmdi-power"></i>
                        <div class="mdl-tooltip" for="btn-exit">Cerrar Sesión</div>
                    </li>
                    <li class="text-condensedLight noLink" ><small>Usuario</small></li>
                    <li class="noLink">
                        <figure>
                            <img src="/static/assets/img/avatar1.png" width="1000px" alt="Avatar" class="img-responsive">
                        </figure>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="full-width text-center" style="padding: 40px 0;">
        <h3 class="text-center tittles">RESUMEN MENSUAL</h3>
        <!-- Tiles -->
        <a href="{{ url_for('admin') }}" class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{ counts.administradores }}<br>
                    <small>Administradores</small>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </a>
        <a href="{{ url_for('client') }}" class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{ counts.clientes }}<br>
                    <small>Clientes</small>
                </span>
            </div>
            <i class="zmdi zmdi-accounts tile-icon"></i>
        </a>
        <a href="{{ url_for('providers') }}" class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{ counts.proveedores }}<br>
                    <small>Proveedores</small>
                </span>
            </div>
            <i class="zmdi zmdi-truck tile-icon"></i>
        </a>
        <a href="{{ url_for('categories') }}" class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{ counts.categorias }}<br>
                    <small>Categorias</small>
                </span>
            </div>
            <i class="zmdi zmdi-label tile-icon"></i>
        </a>
        <a href="{{ url_for('products') }}" class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{ counts.productos }}<br>
                    <small>Productos</small>
                </span>
            </div>
            <i class="zmdi zmdi-washing-machine tile-icon"></i>
        </a>
        <a href="{{ url_for('sales') }}" class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{ counts.ventas }}<br>
                    <small>Ventas</small>
                </span>
            </div>
            <i class="zmdi zmdi-shopping-cart tile-icon"></i>
        </a>
    </section>
</body>
</html>