<!DOCTYPE html>
<html lang="es">
<head>
	{% include 'base.html' %}
</head>
<body>
	<!-- pageContent -->
	<section class="full-width pageContent">
		<!-- navBar -->
		<div class="full-width navBar">
			<div class="full-width navBar-options">
				<i class="zmdi zmdi-swap btn-menu" id="btn-menu"></i>	
				<div class="mdl-tooltip" for="btn-menu">Ocultar / Mostrar MENU</div>
				<nav class="navBar-options-list">
					<ul class="list-unstyle">
						<li class="btn-Notification" id="notifications">
							<i class="zmdi zmdi-notifications"></i>
							<div class="mdl-tooltip" for="notifications">Notificaciones</div>
						</li>
						<li class="btn-exit" id="btn-exit">
							<i class="zmdi zmdi-power"></i>
							<div class="mdl-tooltip" for="btn-exit">Cerrar Sesión </div>
						</li>
						<li class="text-condensedLight noLink" ><small>Usuario</small></li>
						<li class="noLink">
							<figure>
								<img src="/static/assets/img/avatar1.png" alt="Avatar" class="img-responsive">
							</figure>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-store"></i>
			</div>
			<div class="full-width header-well-text">
				<p class="text-condensedLight">
					Inventario de Productos "Huella de Amor"
				</p>
			</div>
		</section>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<div class="table-responsive">
					<form action="#">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
							<label class="mdl-button mdl-js-button mdl-button--icon" for="searchProducts">
								<i class="zmdi zmdi-search"></i>
							</label>
							<div class="mdl-textfield__expandable-holder">
								<select id="searchType" class="mdl-textfield__input">
									<option value="codigo">Código</option>
									<option value="nombre">Nombre</option>
									<option value="categoria">Categoría</option>
									<option value="estado">Estado</option>
								</select>
								<input type="text" id="searchInput" class="mdl-textfield__input" placeholder="Buscar..." oninput="searchTree()">
								<button type="button" onclick="searchTree()">Buscar</button>
								<button type="button" onclick="showAllRecords()">Ver todos los registros</button>
							</div>
						</div>
					</form>
					<div id="searchResults"></div>
					<div class="mdl-list" id="productsList">
						<!-- Los proveedores existentes se mostrarán aquí -->
						<!-- Se asume que el contenido aquí será generado dinámicamente por el backend -->
					</div>
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Código Producto</th>
								<th>Nombre</th>
								<th>Existencias</th>
								<th>Precio</th>
								<th>Categoría</th>
								<th>Estado</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							{% if inventario %}
								{% for producto in inventario %}
								<tr>
									<td class="mdl-data-table__cell--non-numeric">{{ producto[0] }}</td>
									<td>{{ producto[1] }}</td>
									<td>{{ producto[2] }} unidades</td>
									<td>${{ producto[3] }}</td>
									<td>{{ producto[4] }}</td>
									<td>{{ producto[9] }}</td>
									<td>
										<a class="mdl-list__item-secondary-action" href="#!" onclick="toggleOptions(this)">
											<i class="zmdi zmdi-more"></i>
										</a>
										<!-- Contenedor para las opciones de editar y eliminar -->
										<div class="options-container" style="display: none;">
											<a href="{{ url_for('editar_producto', idproducto=producto[0]) }}">Editar</a>
											<a href="{{ url_for('eliminar_producto', idproducto=producto[0]) }}">Eliminar</a>
										</div>	
									</td>
								</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="7" class="mdl-data-table__cell--non-numeric">No hay productos disponibles.</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
				
				</div>
			</div>
		</div>
	</section>
	<script>
		function toggleOptions(element, index) {
			var optionsContainer = element.parentNode.querySelector('.options-container');
			optionsContainer.style.display = 'block';
		}
	</script>
	<script>
		async function fetchTreeData() {
			console.log('fetchTreeData called');
			
			try {
				const response = await fetch('/arbol.json');
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return await response.json();
			} catch (error) {
				console.error('Fetch error:', error);
				return null;
			}
		}

		function searchInNode(node, searchTerm) {
			const results = [];
			if (node.nombre === "Productos" || node.nombre.toLowerCase().includes("productos")) {
				for (const child of node.hijos || []) {
					if (child.datos) {
						for (const data of child.datos) {
							if (JSON.stringify(data).toLowerCase().includes(searchTerm.toLowerCase())) {
								results.push(data);
							}
						}
					}
				}
			} else {
				for (const child of node.hijos || []) {
					results.push(...searchInNode(child, searchTerm));
				}
			}
			return results;
		}

		async function searchTree() {
			console.log('searchTree called');
			const searchType = document.getElementById('searchType').value;
			const searchTerm = document.getElementById('searchInput').value.trim();
			const treeData = await fetchTreeData();
			if (treeData && searchTerm) {
				const results = searchInNode(treeData, searchTerm);
				displayResults(results, searchType);
			} else {
				productsList.innerHTML = '<p>No se encontraron resultados</p>';
			}
		}
		
		function showAllRecords() {
			fetchTreeData().then(treeData => {
				if (treeData) {
					const results = searchInNode(treeData, "");
					displayResults(results);
				}
			});
		}
		function displayResults(results) {
			const productsList = document.getElementById('productsList');
			
			// Eliminar todas las tarjetas de productos existentes
			while (productsList.firstChild) {
				productsList.removeChild(productsList.firstChild);
			}
		
			if (results.length > 0) {
				results.forEach((item) => {
					const cardDiv = document.createElement('div');
					cardDiv.className = 'mdl-card mdl-shadow--2dp full-width product-card';
					cardDiv.innerHTML = `
						<div class="mdl-card__supporting-text">
							<small>Código: ${item.idproductos}</small><br>
							<small>Existencias: ${item.unidadesprod} unidades</small><br>
							<small>Categorías: ${item.categoria}</small><br>
							<small>Precio: $${item.precioprod}</small><br>
							<small>Precio: $${item.estadoprod}</small><br>
						</div>
						<div class="mdl-card__actions mdl-card--border">
							${item.nombreprod}
							<a class="mdl-list__item-secondary-action" href="#!" onclick="toggleOptions(this)">
								<i class="zmdi zmdi-more"></i>
							</a>
							<div class="options-container" style="display: none;">
								<a href="/editar_producto/${item.idproductos}">Editar</a>
								<a href="/eliminar_producto/${item.idproductos}">Eliminar</a>
							</div>
						</div>
					`;
					productsList.appendChild(cardDiv); // Agregar nuevo elemento a la lista
				});
			} else {
				const noResultsDiv = document.createElement('div');
				noResultsDiv.innerHTML = '<p>No se encontraron resultados</p>';
				productsList.appendChild(noResultsDiv);
			}
		}
	</script>
</body>
</html>