<!DOCTYPE html>
<html lang="es">
<head>
	{% include 'base.html' %}
</head>
<body>
	<!-- pageContent -->
	<section class="full-width pageContent">
		<!-- navBar -->
		<div class="full-width navBar">
			<div class="full-width navBar-options">
				<i class="zmdi zmdi-swap btn-menu" id="btn-menu"></i>	
				<div class="mdl-tooltip" for="btn-menu">Ocultar / Mostrar MENU</div>
				<nav class="navBar-options-list">
					<ul class="list-unstyle">
						<li class="btn-Notification" id="notifications">
							<i class="zmdi zmdi-notifications"></i>
							<div class="mdl-tooltip" for="notifications">Notificaciones</div>
						</li>
						<li class="btn-exit" id="btn-exit">
							<i class="zmdi zmdi-power"></i>
							<div class="mdl-tooltip" for="btn-exit">Cerrar Sesión</div>
						</li>
						<li class="text-condensedLight noLink" ><small>Usuario</small></li>
						<li class="noLink">
							<figure>
								<img src="/static/assets/img/avatar1.png" alt="Avatar" class="img-responsive">
							</figure>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-shopping-cart"></i>
			</div>
			<div class="full-width header-well-text">
				<p class="text-condensedLight">
					Ingrese los datos solicitados para agregar una Venta
				</p>
			</div>
		</section>
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__tab-bar">
				<a href="#tabNewSale" class="mdl-tabs__tab is-active">REGISTRO DE VENTAS</a>
				<a href="#tabListSales" class="mdl-tabs__tab">LISTA DE VENTAS</a>
			</div>
			<div class="mdl-tabs__panel is-active" id="tabNewSale">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-primary text-center tittles">
								Nueva Venta
							</div>
							<div class="full-width panel-content">
								<form action="/guardar_venta" method="POST">
									<div class="mdl-grid">
										<div class="mdl-cell mdl-cell--12-col">
									        <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; INFORMACIÓN DEL PRODUCTO</legend><br>
									    </div>
										<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="number" pattern="-?[0-9- ]*(\.[0-9]+)?" id="BarCode" name="CodeProduct">
												<label class="mdl-textfield__label" for="BarCode">Código</label>
												<span class="mdl-textfield__error">Código Inválido</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield">
												<input type="date" class="mdl-textfield__input" name="dateSales">
											</div>
										</div>
										<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameProduct" name="NameProduct">
												<label class="mdl-textfield__label" for="NameProduct">Producto</label>
												<span class="mdl-textfield__error">Producto Inválido</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="StrockProduct" name="StockProduct">
												<label class="mdl-textfield__label" for="StrockProduct">Unidades</label>
												<span class="mdl-textfield__error">Unidades Inválidas</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="text" pattern="-?[0-9.]*(\.[0-9]+)?" id="PriceProduct" name="PriceProduct">
												<label class="mdl-textfield__label" for="PriceProduct">Precio</label>
												<span class="mdl-textfield__error">Precio Inválido</span>
											</div>
										</div>
                                    	<div class="mdl-cell mdl-cell--12-col">
									        <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; Cliente</legend><br>
									    </div>
                                        <div class="mdl-cell mdl-cell--12-col">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="DNIClient" name="DNIClient">
												<label class="mdl-textfield__label" for="DNIClient">Documento</label>
												<span class="mdl-textfield__error">Documento Inválido</span>
											</div>
									    </div>
									    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameClient" name="NameClient">
												<label class="mdl-textfield__label" for="NameClient">Nombre</label>
												<span class="mdl-textfield__error">Nombre Inválido</span>
											</div>
									    </div>
										<select class="mdl-textfield__input" name="Pay">
											<option value="" disabled="" selected="">Seleccionar Medio de Pago</option>
											<option value="Efectivo">Efectivo</option>
											<option value="Crédito">Crédito</option>
											<option value="Transferencia">Transferencia</option>
											<option value="QR">QR</option>
										</select>
										<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<input class="mdl-textfield__input" type="text" id="TotalPay" name="TotalPay" readonly>
												<label class="mdl-textfield__label" for="TotalPay">Total a pagar</label>
											</div>
										</div>
									</div>
									<p class="text-center">
										<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addProduct">
											<i class="zmdi zmdi-plus"></i>
										</button>
										<div class="mdl-tooltip" for="btn-addProduct">GUARDAR VENTA</div>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mdl-tabs__panel" id="tabListSales">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<div class="full-width divider-menu-h"></div>
						<div class="table-responsive">
							<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
								<thead>
									<tr>
										<th class="mdl-data-table__cell--non-numeric">Id Venta</th>
										<th>Fecha</th>
										<th>Código Producto</th>
										<th>Nombre Producto</th>
										<th>Unidades</th>
										<th>Precio</th>
										<th>Doc.Cliente</th>
										<th>Cliente</th>
										<th>Medio de Pago</th>
										<th>Categoria</th>
										<th>Total</th>
										<th>Options</th>
									</tr>
								</thead>
								<tbody>
									{% if ventas %}
										{% for venta in ventas %}
											<tr>
												<td class="mdl-data-table__cell--non-numeric">{{ loop.index }}. {{ venta[0] }}</td>
												<td>{{ venta[1] }}</td>
												<td>{{ venta[2] }}</td>
												<td>{{ venta[3] }}</td>
												<td>{{ venta[4] }}</td>
												<td>{{ venta[5] }}</td>
												<td>{{ venta[6] }}</td>
												<td>{{ venta[7] }}</td>
												<td>{{ venta[8] }}</td>
												<td>{{ venta[9] }}</td>
												<td>{{ venta[10] }}</td>
												<td>
													<a class="mdl-list__item-secondary-action" href="#!" onclick="toggleOptions(this)">
														<i class="zmdi zmdi-more"></i>
													</a>
													<!-- Contenedor para las opciones de editar y eliminar -->
													<div class="options-container" style="display: none;">
														<a href="{{ url_for('editar_venta', idventa=venta[0]) }}">Editar</a>
														<a href="{{ url_for('eliminar_venta', idventa=venta[0]) }}">Eliminar</a>
													</div>
												</td>
											</tr>
										{% endfor %}
									{% else %}
										<p>No hay ventas disponibles.</p>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	</section>
	<script>
		function toggleOptions(element, index) {
			var optionsContainer = element.parentNode.querySelector('.options-container');
			optionsContainer.style.display = 'block';
		}
	</script>
	<!-- Modal genérico para mensajes -->
	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display:none">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="messageModalLabel">Mensaje</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="modalMessageContent"></p>
				</div>
			</div>
		</div>
	</div>

	<script>
		// Mostrar el modal con el mensaje correspondiente
		$(document).ready(function() {
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			$('#messageModal').modal('show');
			$('#messageModalLabel').text("{{ category | capitalize }}");
			$('#modalMessageContent').text("{{ message }}");
			{% endfor %}
			{% endif %}
			{% endwith %}
		});
	</script>
	<script>
		document.getElementById('BarCode').addEventListener('change', function() {
			var codigo = this.value;
			if (codigo.trim() !== '') {
				fetch('/obtener_producto/' + codigo)
					.then(response => response.json())
					.then(data => {
						if (!data.error) {
							document.getElementById('NameProduct').value = data.nombre;
							document.getElementById('PriceProduct').value = data.precio;
							document.getElementById('StrockProduct').value = data.unidades;
							calcularTotal();
						} else {
							alert(data.error);
						}
					})
					.catch(error => console.error('Error:', error));
			}
		});
	
		document.getElementById('StrockProduct').addEventListener('change', calcularTotal);
	
		function calcularTotal() {
			var cantidad = parseInt(document.getElementById('StrockProduct').value);
			var precio = parseFloat(document.getElementById('PriceProduct').value);
			if (!isNaN(cantidad) && !isNaN(precio)) {
				var total = cantidad * precio;
				document.getElementById('TotalPay').value = total.toFixed(2);
			}
		}
	
		document.getElementById('DNIClient').addEventListener('change', function() {
			var dni = this.value;
			if (dni.trim() !== '') {
				fetch('/obtener_cliente/' + dni)
					.then(response => response.json())
					.then(data => {
						if (!data.error) {
							document.getElementById('NameClient').value = data.nombre;
						} else {
							alert(data.error);
						}
					})
					.catch(error => console.error('Error:', error));
			}
		});
	</script>
	
</body>
</html>